amqp==2.1.4
appdirs==1.4.3
Babel==2.4.0
billiard==3.5.0.2
celery==4.0.2
Chameleon==3.1
circus==0.14.0
flower==0.9.1
hupper==1.0
iowait==0.2
kombu==4.0.2
Logbook==1.0.0
packaging==16.8
PasteDeploy==1.5.2
plac==0.9.6
plaster==0.5
plaster-pastedeploy==0.3.1
pp.client-python==0.4.4
-e git+git@bitbucket.org:ajung/pp.server.git@c182255af193652347e446e9a4fe906b1f0b3f0c#egg=pp.server
psutil==5.2.2
pyparsing==2.2.0
pyramid==1.9
pyramid-chameleon==0.3
pytz==2017.2
pyzmq==16.0.2
repoze.lru==0.6
requests==2.14.2
six==1.10.0
SQLAlchemy==1.1.10
tornado==4.2
translationstring==1.3
venusian==1.1.0
vine==1.1.3
waitress==1.0.2
WebOb==1.7.3
zope.deprecation==4.2.0
zope.interface==4.4.2
