
body {
    font-family: sans-serif;
    line-height: 1.5;
    padding: 2em;
    max-width: 80em;
    margin: auto;
}

#header {
    background: #eee;
    padding: 2em;
    border-radius: 1em;
}

#actions {
    margin-top: 2em;
    padding-left: 0;
}

#actions li {
    display: inline-block;
    margin-right: 1em;
}

#footer {
    margin-top: 2em;
    font-size: 80%;
    color: #666;
}

table {
    margin-top: 2em;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 0.5em;
}

th {
    background: #eee;
}

.pre {
    font-family: monospace;
    white-space: pre;
}
